.settings{
    position: relative;
    width: 35px;
    height: 35px;
    
}

.settings__button{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 35px;
    height: 35px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    color: #F4F4F4;
}
.settings__button:hover{
    animation-duration: 0.3s;
    animation-name: rotate;  
}
.settings__button:active{
    transform: scale(110%);
    transition: transform 0.1s linear;
}

@keyframes rotate {
       from{
        transform: rotateZ(0deg);
       } 
       to{
        transform: rotateZ(60deg);
        }
}

.settings__items{
    max-width: 0;
    height: 40px;
    position: absolute;
    right: 35px;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
    transition: max-width 0.3s ease-in;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.settings__items-active{
    max-width: 160px;
    transition: max-width 0.3s ease-in;
}

