.modal{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.889);
    position: absolute;
    z-index: 1000;
    bottom:0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.2s linear;
}

.modal__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    gap: 20px;
    min-height: 200px;
    border-radius: 5px;
}

.modal-active{
    transform: translateY(0);
    transition: transform 0.2s linear;
}

.modal__input{
    height: 40px;
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 5px;
    border: unset;
    outline: none;
    background: rgb(255, 255, 255);
}



.modal span{
    color: white;
    font-size: 20px;
}

.modal__buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
