.todo{
    display: flex;
    height: 40px;
    width: 100%;
    align-items:center;
}
.todo__info{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items:flex-start;
    cursor: pointer;
}
.todo__description{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
.todo{
    
}