.modal{
    display: flex;
    align-items: center;
    height: 844px;
    width: 390px;
    background-color: rgba(22, 22, 22, 0.889);
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 50%;
    padding: 0 10px;
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s linear;
}

.modal__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    gap: 20px;
    min-height: 200px;
    border-radius: 5px;
}

.modal-active{
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.2s linear;
}



.modal__buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
